<header class="header-wrapper">
    <div class="container-fluid">
      <div class="header">
        <div class="logo" [routerLink]="['/home']">
          <img src="assets/img/header-logo.png" alt="99watt.com" height="60">
        </div>
        
        <nav class="nav">
          <ul>
           
            <li class="desktop">
              <a href="javascript:void(0)" [routerLink]="['/home']" routerLinkActive="active">
               Home
              </a>
            </li>
            <li class="desktop">
              <a href="javascript:void(0)" [routerLink]="['/home']" routerLinkActive="active">
                test1
              </a>
            </li>
           
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="mobile-nav">
    <ul>
      <li>
        <a href="javascript:void(0)" [routerLink]="['/home']" routerLinkActive="active">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" [routerLink]="['/meetings']" routerLinkActive="active">
          <span>test1</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" [routerLink]="['/training']" routerLinkActive="active">
          <span>test2</span>
        </a>
      </li>
      
    </ul>
  </div>