<div class="home-banner-wrap"> 
    <img src="assets/img/home-banner.jpg" />
  </div>
  <div class="home-wrapper">
    <div class="home-moments-wrap" infiniteScroll >
        <div class="moments" >
            <div class="m-body">
                <div class="moment-user">
                    <div class="user-thumb-wrap">
                      <div class="user-thumb cursor-pointer" >
                        <img src="" alt="profile pic">
                      </div>
                    </div>
                    <div class="user-name">
                      <h4>Raju</h4>
                      <span class="date">12/01/2022</span>
                    </div>
                    
                  </div>
                  <div class="moments-description">
                    <div class="d-left">
                      <p >This is description</p>
                    </div>
                  </div>
                  <div class="m-thumb cursor-pointer" >
                    <img src="" alt="this is item image" >
                  </div>
              
            
          </div>
          <!-- <a href="javascript:void(0)" class="load-comments" *ngIf="momentTotalRecord>10" (click)=getMoreMommentList()>{{'readMoreMoment'|translate}}...</a> -->
        </div>
      
      </div>
  </div>