.auth {
  @include d-flex;
  @include justify-space-between;

  .auth-left {
    padding: 16px;
    background-color: $white;
    @include d-flex;
    @include align-items-center;
    @include flex(0, 0, 40%);
    border-radius: 8px;

    .left-inner {
      width: 100%;

      .logo {
        text-align: center;
        margin-bottom: 80px;
      }

      .chess-icons {
        margin-bottom: 60px;
        @include d-flex;
        @include align-items-center;
        @include justify-space-between;

        li {
          font-size: 28px;

          &:nth-child(odd) {
            color: $primary;
          }
        }
      }

      .btn + .btn {
        margin-top: 16px;
      }
    }

    
  }

  .auth-right {
    @include d-flex;
    @include flex(0, 0, 60%);
    @include flex-direction-column;
    max-width: calc(60% - 18px);

    .slider {
      padding: 16px;
      background-color: $white;
      border-radius: 8px;
      margin-bottom: 18px;
      position: relative;

      .owl-theme .owl-dots {
        z-index: 8;
        position: relative;
      }

      .item {
        @include d-flex;
        @include justify-space-between;
        
        .thumb {
          @include flex(0, 1, 40%);
          text-align: center;

          img {
            width: auto;
            max-width: 100%;
            display: inline-block;
          }
        }
        .content {
          padding: 0;
          text-align: center;
          @include flex(0, 1, 55%);

          p {
            color: #262626;
            font-size: 18px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.43px;
          }
        }
      }

      .next {
        bottom: 4px;
        right: 18px;
        position: absolute;
        z-index: 9;
      }
    }

    .general-text {
      padding: 16px;
      background-color: $white;
      border-radius: 8px;
    }
  }
}

/**Register**/

.register {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(11, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  > div {
    // border: 1px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 0 0px #ccc;
  }

  

  .image-wrap {
    margin: 50px 0 0;

    .user-image-select {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: block;
      border-radius: 100%;
      overflow: hidden;
      background-color: $primary;
      position: relative;

      img {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        object-fit: cover;
        width: 100%;
        min-height: 100%;
      }

      i {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        color: $white;
        font-size: 30px;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
      }

      input[type="file"] {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
  }

  .form-group {
    margin: 0;
    padding: 8px 0 0;

    label {
      margin: 0;
      text-transform: uppercase;
    }
    .form-control {
      border: none;
    }
  }
  
}

.age-checkbox {
  @include d-flex;
  @include align-items-center;
  @include justify-space-between;
}

app-reset-password,
app-verify-email {
  @include d-flex;
  @include align-items-center;
  min-height: 100vh;
}
.new-layout {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: $white;
  @include d-flex;
  @include align-items-center;
  @include justify-space-between;

  .n-left {
    width: 40%;

    .logo {
      text-align: center;
      margin-bottom: 80px;
    }

    .chess-icons {
      @include d-flex;
      @include align-items-center;
      @include justify-space-between;

      li {
        font-size: 28px;

        &:nth-child(odd) {
          color: $primary;
        }
      }
    }
  }
  .n-right {
    width: 50%;
    
    &.verify {
      text-align: center;
    }

    .message {

      &.true {
        color: #22bb33;
      }
      &.false {
        color: #bb2124;
      } 
    }
  }
}

@media(max-width: 979px) {
  .new-layout {
    max-width: calc(100% - 20px);
  }
}
@media (min-width: 768px) {
  .col-1 { grid-area: 1 / 1 / 5 / 2; }
  .col-2 { grid-area: 5 / 1 / 6 / 2; }
  .col-3 { grid-area: 6 / 1 / 7 / 2; }
  .col-4 { grid-area: 7 / 1 / 8 / 2; }
  .col-5 { grid-area: 8 / 1 / 9 / 2; }
  .col-6 { grid-area: 9 / 1 / 10 / 2; }
  .col-7 { grid-area: 10 / 1 / 11 / 2; }
  .col-8 { grid-area: 11 / 1 / 12 / 2; }
  .col-9 { grid-area: 12 / 1 / 13 / 2; }
  .col-10 { grid-area: 1 / 2 / 2 / 3; }
  .col-11 { grid-area: 2 / 2 / 4 / 3; }
  .col-12 { grid-area: 4 / 2 / 5 / 3; }
  .col-13 { grid-area: 5 / 2 / 6 / 3; }
  .col-14 { grid-area: 6 / 2 / 7 / 3; }
  .col-15 { grid-area: 7 / 2 / 8 / 3; }
  .col-16 { grid-area: 8 / 2 / 9 / 3; }
  .col-17 { grid-area: 9 / 2 / 10 / 3; }
  .col-18 { grid-area: 10 / 2 / 11 / 3; }
  .col-19 { grid-area: 11 / 2 / 12 / 3; }
  .col-20 { grid-area: 12 / 2 / 13 / 3; 
    @include d-flex;
    @include align-items-center;

  }
  // .col-1 { grid-area: 1 / 1 / 5 / 2; }
  // .col-2 { grid-area: 5 / 1 / 6 / 2; }
  // .col-3 { grid-area: 6 / 1 / 7 / 2; }
  // .col-4 { grid-area: 7 / 1 / 8 / 2; }
  // .col-5 { grid-area: 8 / 1 / 9 / 2; }
  // .col-6 { grid-area: 9 / 1 / 10 / 2; }
  // .col-7 { grid-area: 10 / 1 / 11 / 2; }
  // .col-8 { grid-area: 11 / 1 / 12 / 2; }
  // .col-9 { grid-area: 1 / 2 / 2 / 3; }
  // .col-10 { grid-area: 2 / 2 / 4 / 3; }
  // .col-11 { grid-area: 4 / 2 / 5 / 3; }
  // .col-12 { grid-area: 5 / 2 / 6 / 3; }
  // .col-13 { grid-area: 6 / 2 / 7 / 3; }
  // .col-14 { grid-area: 7 / 2 / 8 / 3; }
  // .col-15 { grid-area: 8 / 2 / 9 / 3; }
  // .col-16 { grid-area: 9 / 2 / 10 / 3; }
  // .col-17 { grid-area: 10 / 2 / 11 / 3; }
  // .col-18 { 
  //   grid-area: 11 / 2 / 12 / 3; 
  //   @include d-flex;
  //   @include align-items-center;

  //   button {
  //     margin-top: 16px;
  //   }
  // }
}

@media (max-width: 767px) {
  .auth {
    @include flex-direction-column;

    .auth-left {
      margin: 0 0 20px;
    }

    .auth-right {
      max-width: 100%;

      .slider {
        .item {
          @include flex-direction-column;

          .thumb {
            margin: 0 0 20px;
          }
          .content {
            padding-bottom: 55px;
          }
        }
        .next {
          bottom: 38px;
        }
      }
    }
  }
  .register {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;

    .image-wrap {
      margin: 0 0 20px;
    }

    > div {
      padding: 5px 10px;

      &.col-8,
      &.col-9 {
        display: none;
      }
    }
  }
  .new-layout {
    @include flex-direction-column;

    .n-left {
      width: 100%;

      .logo {
        margin-bottom: 40px;
      }
      .chess-icons {
        margin-bottom: 30px;
      }
    }
    .n-right {
      width: 100%;
    }
  }
}