.header-wrapper {
  background-color: $white;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.header {
  @include d-flex;
  @include flex-wrap;
  @include align-items-center;
  @media(max-width: 1024px) {
    padding-top: 18px;
  }
  
  .logo {
    cursor: pointer;
  }

  .search-group {
    @include d-flex;
    margin-left: 26px;
    position: relative;

    .search-type {
      border: solid 0.5px #c4c4c5;
      border-right: none;
      border-radius: 3px 0 0 3px;

      select {
        height: 100%;
        border: none;
        padding: 0 8px;
        font-size: 13px;
        background: none;
        appearance: none;
        color: $white;
        -moz-apperance: none;
        -webkit-appearance: none;
      }
    }

    .search {
      position: relative;
      
      i {
        top: 4px;
        left: 10px;
        position: absolute;
        color: #b6b6b6;
      }
  
      input[type="text"] {
        width: 250px;
        height: 24px;
        padding: 6px 6px 6px 36px;
        border-radius: 0px 3px 3px 0px;
        border: solid 0.5px #c4c4c5;
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        max-width: 250px;        
      }     
    }
    
    .result {
      width: 100%;
      z-index: 9;
      max-height: 340px;
      overflow-y: auto;
      top: 100%;
      left: 0;
      position: absolute;
      background-color: $white;
      border-radius: 0px 0px 5px 5px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);

      .list {
        @include d-flex;
        @include align-items-center;
        padding: 5px 5px;
        cursor: pointer;

        + .list {
          border-top: 1px solid #e9e9ea;
        }

        &::after {
          content: "\e91c";
          color: #2488cc;
          font-family: "icomoon";
          margin-left: auto;
          font-size: 14px;
        }

        .thumb {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          position: relative;
          margin-right: 10px;
          overflow: hidden;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;

          img {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            width: 100%;
            min-height: 100%;
            object-fit: cover;
          }
        }
        .info {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          margin-right: 10px;

          h4 {
            font-size: 14px;
            line-height: 1;
            margin: 0 0 5px;
          }
          p {
            margin: 0;
            font-size: 12px;
          }
        }
        .elo {
          font-size: 12px;
          text-align: center;
          font-weight: 700;
          margin-right: 10px;
        }

      }
    }
  }
  
  
  .nav {
    margin-left: auto;

    ul {
      @include d-flex;

      li {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.16px;
        @include d-flex;
        
        + li {
          margin-left: 17px;
        }
        
        > a {
          color: $black;
          @include d-flex;
          @include align-items-center;
          padding: 18px 10px;
          position: relative;

          &:hover,
          &.active {
            color: $primary;
          }

          > i {
            font-size: 20px;
            margin-right: 10px;

            &.icon-more-menu {
              font-size: 14px;
            }
          }

          &.primary {
            color: $primary;
            font-weight: 700;
          }
        }
        
        &.user {
          position: relative;
          cursor: pointer;
            margin: 18px 0 18px 17px;

          .thumb {
            width: 32px;
            height: 32px;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            border: 1px solid $primary;

            img {
              width: 100%;
              min-height: 100%;
              top: 50%;
              left: 50%;
              position: absolute;
              transform: translate(-50%,-50%);
            }
          }
          i {
            color: $black;
            font-size: 20px;
            left: 18px;
            bottom: 0px;
            position: absolute;
          }
        }

        
      }
    }
  }

  .notification-menu {
    position: relative;

    .count {
      background: red;
      padding: 1px 3px;
      border-radius: 5px;
      color: #fff;
      top: 4px;
      left: 11px;
      position: absolute;
    }

    .notification-list {
      top: calc(100% + 18px);
      right: -20px;
      position: absolute;    
      width: 330px;
      max-height: 300px;
      background: #fff;    
      z-index: 99;
      border-radius: 0 0 5px 5px;
      overflow-y: auto;

      .list {
        @include d-flex;
        @include align-items-center;
        padding: 8px 10px;

        &:hover {
          background: #efeff4;
        }

        .notification {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          padding-right: 10px;
          cursor: pointer;

          h5 {
            color: #000;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;            
            margin: 0 0 4px;
          }
          p {
            margin: 0;
            color: #000;
            font-size: 15px;
            line-height: 18px;
            font-weight: 400;            
          }
        }        
        .delete {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #bbbbbb;
          text-align: center;
          cursor: pointer;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;

          i {
            color: #bbbbbb;
            font-size: 20px;
            line-height: 28px;

            &:hover {
              color: #bbbbbb;
            }
          }
        }
      }
      
      .no-notification {
        padding: 20px 20px 30px;
        text-align: center;

        .icon {
          font-size: 50px;
          color: #2988cb;
          margin: 0 0 20px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
        }
        .link {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }

  }
}

.mobile-nav {
  bottom: 0;
  position: fixed;
  width: 100%;
  background: $white;
  border-top: 1px solid #e9e9ea;
  z-index: 9;
  display: none;

  ul {
    @include d-flex;
    @include justify-space-around;

    li {
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.16px;
      text-align: center;

      a {
        @include d-flex;
        @include flex-direction-column;
        @include justify-space-between;
        height: 100%;
        padding: 14px 10px;
        color: $black;
        position: relative;

        &.active {
          color: $primary;

        }

        i {
          font-size: 20px;
          margin: 0 0 10px;

          &.icon-more-menu {
            font-size: 16px;
          }
        }

        span {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {

    .nav {
      width: 100%;
      
      ul {
        @include justify-center;
        position: relative;
      }
    }
    .search-group {
      margin-left: auto;
    }
  }
}
@media (max-width: 767px) {
  .header {
    @include flex-direction-column;

    .notification-menu {
      position: static;

      .notification-list {
        width: 100%;
        right: 0;
      }
    }

    .logo {
      margin: 0 0 10px;
    }
    .nav {

      .desktop {
        display: none;
      }
    }
    .search-group {
      margin-right: auto;
    }
  }
  .mobile-nav {
    display: block;
  }
}