.header-banner {
  position: relative;

  .header-banner-image {
    min-height: 380px;
    position: relative;
    padding-bottom: 26.25%;
    overflow: hidden;

    img {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
  

  .filter-top {
    max-width: 800px;
    border-radius: 5px;
    left: 0;
    right: 0;
    bottom: 14px;
    position: absolute;
    margin: 0 auto;
    background-color: $white;

    .f-head {
      @include d-flex;
      @include align-items-center;
      @include justify-space-between;
      padding: 12px 20px;
      border-bottom: 1px solid #d8d8d8;

      a {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;

        &.start {
          font-size: 16px;
          text-transform: uppercase;

          i {
            display: inline-block;
            font-size: 12px;
          }
        }
      }
    }
    .f-body {
      padding: 18px 20px;

      .search-and-location {
        @include d-flex;
        

        .search {          
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          margin: 0px 10px;
          position: relative;
    
          .icon-search {
            top: 8px;
            left: 12px;
            position: absolute;
            color: #b6b6b6;
          }
    
          .icon-close-circle {
            top: 8px;
            right: 8px;
            position: absolute;
            color: rgba(0, 0, 0, 0.7);
          }
    
          input[type="text"] {
            width: 100%;
            border-radius: 2px;
            padding: 5px 30px 5px 35px;
            border: 1px solid #c4c4c5;
            font-size: 16px;
            letter-spacing: 0.3px;
            line-height: 22px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          .search-result {
            width: 100%;
            background: $white;
            z-index: 99;
            position: absolute;
            border-radius: 0 0 5px 5px;
            overflow: hidden;
            max-height: 300px;
            overflow-y: auto;
            
            .search-list {
              @include d-flex;
              @include align-items-center;
              padding: 5px 10px;
              border-bottom: 1px solid #e9e9ea;
              cursor: pointer;

              .thumb {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                margin-right: 10px;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;

                img {
                  width: 100%;
                  min-height: 100%;
                  top: 50%;
                  left: 50%;
                  position: absolute;
                  transform: translate(-50%,-50%);
                }
              }
              .info {
                h4 {
                  margin: 0;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .location {
          @include d-flex;
          @include align-items-baseline;
          margin: 0px 10px;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;

          > * {
            display: inline-block;
            margin: 0 10px;
          }

          .small {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
            position: relative;
            top: -2px;
          }
          .large {
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.4px;
            color: #000;

            &.range {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
              flex: 0 0 auto;
            }
          }
        }        
      }

      .day-filter {
        margin-top: 14px;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          @include d-flex;
          
          li {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin: 0 7px;

            label {
              cursor: pointer;
              position: relative;

              input[type="radio"] {
                opacity: 0;
                position: absolute;
  
                + span {
                  width: 100%;
                  display: block;
                  color: $primary;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 20px;
                  letter-spacing: 0.25px;
                  text-transform: uppercase;
                  border-radius: 5px;
                  border: 1px solid $primary;            
                  background-color: $white;
                  padding: 12px 10px;
                  text-align: center;
                }
  
                &:checked + span {
                  color: $white;
                  background-color: $primary;
                }
              }
            }            
            
          }
        }
      }

      .view-all {
        margin-top: 14px;
        text-align: center;

        a {
          color: $primary;
          font-size: 16px;
          line-height: 20px;
          font-weight: 700;
          letter-spacing: 0.25px;
          text-transform: uppercase;
          padding: 6px 40px;
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 799px) {
  .header-banner {
    .filter-top {
      max-width: calc(100% - 20px);
    }
  }
}
@media (max-width: 767px) {
  .header-banner {

    .filter-top {
      .f-head {
        a {
          font-size: 14px;

          &.start {
            font-size: 13px;
          }
        }
      }
      .f-body {
        padding: 12px 10px;

        .search-and-location {
          @include flex-direction-column;

          .search {
            margin: 0 0 12px;
          }
          .location {
            margin: 0;
            @include justify-center;
            
            .large {
              font-size: 16px;
            }
          }
        }
        .day-filter {
          ul {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            @include justify-space-between;

            li {
              -webkit-box-flex: 0;
              -ms-flex: 0 1 48%;
              flex: 0 1 48%;
              margin: 5px 0;
            }
          }
        }
      }
    }
  }
}