<footer class="footer-wrap">
    <div class="container-fluid">
      <div class="footer-data">
        <ul class="footer-nav">
          <li><a href="javascript:void(0)" >About Us</a></li>
          <li><a href="javascript:void(0)" >Contact Us</a></li>
          <li><a href="javascript:void(0)" >Privacy Policy</a></li>
          <li><a href="javascript:void(0)" >Terms & Conditons</a></li>
        </ul>
        <!-- <div class="social-wrap">
          <label>Connect with us</label>
          <ul class="social-box">
            <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-twitter"></i></a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>
  
  